html{
    scroll-behavior: smooth;
}

body{
    background-color: #0a192f;
    color: #ccd6f6;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin-inline: auto;
}

.headpage{
    padding-inline: 2.5em;
}

.headpage , .headpage ul{
    display: flex;
}

.headpage h2{
    text-align: start;
    padding-left: 0.5em;
    font-size: 1.8em;
    font-weight: 100;
    color: aliceblue;
    width: 30%;
}

.headpage h2 > span:hover{
    padding-left: 0em;
}

.headpage h2 > span{
    padding-inline: 2em;
    padding-left: 1em;
    transition: padding .3s;
    color: rgb(0, 255, 179);
}

.headpage ul {
    width: 100%;
    gap: 3em;
    justify-content: end;
    list-style-type: none;
}

.headpage ul > li {
    padding-block: 1em;
    height:20px;
}

.headpage ul > li:hover{
    cursor: pointer;
    color: rgb(0, 255, 179);
    transition: color .3s;
}

.headpage ul > li > a{
    color: aliceblue;
    text-decoration: none;
    transition: color .3s ease;
}

.headpage ul > li > a:hover{
    color: rgb(0, 255, 179);
}

.headpage ul > li > span{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 255, 179);
    font-size: 0.9em;
}

.headpage button{
    background: none;
    margin-top: 1em;
    height: 50px;
    border-radius: 8%;
    margin-left: 1.5em;
    padding-inline: 1em;
    cursor: pointer;
    color: rgb(0, 255, 179);
    border: 1px solid rgb(0, 255, 179);
}

.headpage button:hover{
    background-color: rgba(0, 255, 179, 0.089);
    transition: background-color .2s;
}

.hero > .container{
    border-left: 1px solid aliceblue;
    padding-left: 1em;
    padding-top: 1em;
    height: 350px;
    max-width: 1000px;
    margin-inline: auto;
}

.hero > .container > h2 {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.hero > .container > h2 > span {
    color: rgb(0, 255, 179);
}

.hero > .container > span{
    color: rgb(0, 255, 179);
    
    font-family: 'Courier New', Courier, monospace;
}

.hero > .container > h1{
    font-size: 3em;
    width: 550px;
    text-shadow: 3px 3px 8px rgb(0, 172, 188);
    transition: text-shadow 0.5s ease;
}

.hero > .container > h1:hover{
    text-shadow: none;
}

.hero > .container > p{
    width: 70%;
    line-height: 1.4em;
}

.projects > .container{
    padding: 2em;
}
.projects > .container > h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: 100;
}

.projects > .container h2 > span{
    color: rgb(0, 255, 179);
}

.projects > .container > div{
    position: relative;
    width: 800px;
    height: 400px;
    margin-top: 5em;
}

.projects > .container > div > h3 > span{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 255, 179);
}

.projects > .container > div > img {
    width: 100%;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.545);
    border-radius: 50px;
    transition: opacity .3s;
}

.projects > .container > div > img:hover {
    opacity: 0.6;
}

.projects > .container > div > .frame {
    background-color: #3c3c3c;
    position: absolute;
    top: 50%;
    right: -60px;
    padding: .5em;
    border-radius: 5px;
    width: 80px;
}

.projects > .container > div > .frame > a {
    color: rgb(0, 255, 179);
    text-decoration: none;
}

.skills > .container >  h2{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2em;
    font-weight: 100;
}

.skills > .container >  h2 > span{
    color: rgb(0, 255, 179);
}

.skills > .container > div{
    margin-block: 2em;
}

.skills > .container > div > .progress{
    width: 70%;
}

.skills > .container > div > .progress > .progressLouder{
    width: 80%;
    text-align: end;
    font-weight: 600;
    border-radius: 30px;
    height: 10px;
    background-color: rgb(0, 255, 179);
    color: #ffffff;
}

.skills > .container > div > .progress > .js{
    width: 70%;
}

.skills > .container > div > .progress > .boos{
    width: 80%;
}

.skills > .container > div > .progress > .react{
    width: 40%;
}

.skills > .container > div > .progress > .UI{
    width: 50%;
}

.skills > .container > div > .progress > .vue{
    width: 70%;
}

.contact > .container{
    margin-block:3em ;
    height: 300px;
}

.contact > .container > h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.contact > .container > h2 > span {
    color: rgb(0, 255, 179);
}

.contact > .container > h3 {
    font-size: 3em;
    color: aliceblue;
    text-align: center;
}

.contact > .container > div > p{
    width: 900px;
    text-align: center;
    color: #969696;
    margin-bottom: 2em;
}

.contact > .container > div > a {
    text-decoration: none;
    color: rgb(0, 255, 179);
    background: none;
    position: relative;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
    left: 45%;
    height: 100px;
    margin-block: 3em;
    border: 1px solid rgb(0, 255, 179);
    transition: background-color .3s ease;
}

.contact > .container > div > a:hover {
    background-color: rgba(0, 255, 179, 0.223);;
}

.sidelink > div > ul{
    position: fixed;
    bottom:50px;
}

.sidelink > div > ul > li > a > i{
    font-size: 1.4em;
    color: aliceblue;
    top: -5px;
    padding-block: 0.3em;
    transition: top .3s ease;
}

.sidelink > div > ul > li > a > i:hover{
    position: relative;
    top: 5px;
    color: rgb(0, 255, 179);
    padding-block: .3em;
}

.sidelink > div > ul > li{
    list-style-type: none;
    margin-block: 1.4em;
}

.sidelink > div > ul> .line{
    position: absolute;
    left: 80%;
    width: .5px;
    height: 100px;
    background-color: aliceblue;
}


