.light {
  animation: motion ease-in-out infinite 5s;
  transform: translate(100px, 300px) rotate(0deg);
}

@keyframes motion {
  0% {
    transform: translate(100px, 300px);
  }
  50% {
    transform: translate(100px, -800px);
  }
  100% {
    transform: translate(100px, 300px);
  }
}

.spin {
  animation: spin ease-in-out 10s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
