@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sixtyfour&family=Ubuntu:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

*::-webkit-scrollbar-track {
  background: #1e1e2f; /* Track color */
  border-radius: 10px; /* Optional: rounded corners */
}

*::-webkit-scrollbar-thumb {
  background-color: #0f62c2; /* Thumb color */
  border-radius: 10px; /* Optional: rounded corners */
  border: 3px solid #1e1e2f; /* Creates padding around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #707070; /* Slightly lighter thumb on hover */
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8b8b8b; /* Even darker thumb when clicked */
}

body {
  background: radial-gradient(
    circle,
    rgba(15, 15, 30, 1) 30%,
    rgb(10, 17, 70) 60%,
    rgba(0, 5, 25, 1) 100%
  );
  overflow: hidden;
  background-size: 200% 200%; /* Makes the animation smooth by scaling the background */
  animation: darkBluePulse 8s infinite alternate,
    darkBlueShift 10s ease-in-out infinite;
}

@keyframes darkBluePulse {
  0% {
    background-size: 100% 100%; /* Normal size */
  }
  50% {
    background-size: 150% 150%; /* Scaled-up gradient */
  }
  100% {
    background-size: 100% 100%; /* Back to normal size */
  }
}

@keyframes darkBlueShift {
  0% {
    background-position: 0% 0%; /* Gradient starts at the top-left */
  }
  20% {
    background-position: 50% 50%; /* Gradient shifts to the center */
  }
  40% {
    background-position: 100% 100%; /* Gradient moves to the bottom-right */
  }
  60% {
    background-position: 100% 100%; /* Gradient moves to the bottom-right */
  }
  80% {
    background-position: 50% 50%; /* Gradient shifts to the center */
  }
  100% {
    background-position: 0% 0%; /* Gradient starts at the top-left */
  }
}
